[submodule "back/lib/openzeppelin-contracts"]
	path = back/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "back/lib/forge-std"]
	path = back/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
